<div id="divSlider">
  <h2>Classement des sites</h2>
  <form [formGroup]="form" (ngModelChange)="changed()" style="text-align: end;">
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <input type="text" placeholder="Etudiant" matInput formControlName="person" [matAutocomplete]="auto" />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let user of filteredOptions | async" [value]="user">
              {{ user }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </form>
  <figure id="bar"></figure>
  <div class="tootltipEmp"></div>
</div>
