<div id="divSlider">
  <h2>Website Ranking</h2>
  <form [formGroup]="form" (ngModelChange)="changed()" style="text-align: end;">
    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="fill" >
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker" [max]="max" [min]="min">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="fill" >
          <mat-select formControlName="person">
            <mat-option [value]="item" *ngFor="let item of options">{{item}}</mat-option>
          </mat-select>
          <mat-label>
            <mat-icon>favorite</mat-icon> <b> Adventurer</b> <i> Name</i>
          </mat-label>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="row justify-content-center">
    <figure id="bar"></figure>
  </div>
  <div class="tootltipEmp"></div>

</div>
