<div class="preloader"><img class="img" src="https://www.easypano.com/images/pw/v3/banner.jpg" /><img class="img" src="https://www.publicdomainpictures.net/pictures/170000/velka/beautiful-landscape-panorama-1462783515FyK.jpg" /><img class="img" src="https://www.publicdomainpictures.net/pictures/30000/velka/arizona-sunrise-panarama-1348420056Bcg.jpg" /><img class="img" src="https://www.publicdomainpictures.net/pictures/190000/velka/waterfall-ben-nevis-scotland-1471093009J8y.jpg" /><img class="img" src="https://upload.wikimedia.org/wikipedia/commons/0/04/Bibi-Ka-Maqbara-pano.jpg" /></div><a class="button me" href="https://twitter.com/ThunderGunExprs" target="_blank" title="Click for free pizza!">🌮</a>
<div class="box">
    <div class="left top">
        <div class="side"></div>
        <div class="reflection"></div>
        <div class="overlay"></div>
    </div>
    <div class="center top">
        <div class="side"></div>
        <div class="reflection"></div>
        <div class="overlay"></div>
    </div>
    <div class="right top">
        <div class="side"></div>
        <div class="reflection"></div>
        <div class="overlay"></div>
    </div>
</div>

<!-- 

  <div class="box">
      <div class="card">
        <div class="imgBx">
            <img src="https://user-images.githubusercontent.com/46791116/149063603-6ca531ae-8ac9-47d8-9f9e-33470c71f723.jpg" alt="images">
        </div>
        <div class="details">
            <h2>CHBAB Khalid<br><span>Data Scientist</span></h2>
        </div>
      </div>
    
       <div class="card">
         <div class="imgBx">
            <img src="https://user-images.githubusercontent.com/46791116/149062220-37f7b96a-6ec1-4f07-8873-13dc1b5d39ad.jpg " alt="images">
         </div>
         <div class="details">
            <h2>DRIOUCHE Adnane<br><span>Data Scientist</span></h2>
          </div>
       </div>

       <div class="card">
         <div class="imgBx">
            <img src="https://user-images.githubusercontent.com/46791116/149063005-059e0d48-5403-42f9-b667-b1365b0189c3.jpg" alt="images">
         </div>
         <div class="details">
            <h2>OUHMAID Khalid<br><span>Data Scientist</span></h2>
          </div>
       </div>
 
  </div> -->
<!-- </body>
</html> -->



<!-- <main class="grid">
	<section class="content item1">
		<h1>Hover Card Animation</h1>
		<p>By animating a few CSS paint & composite properties, we can create fun interactions on hover & focus</p> 
	</section>
	<section class="card item2">
		<h2>Hover the cards</h2>
	</section>
	<section class="card item3"></section>
	<section class="card item4"></section>
	<section class="card item5">
			<h2>because interactions make it more fun</h2>
	</section>
	<section class="card item7"></section>
	<section class="card item8">
			<h2>animating the shadow on the pseudo element makes it pop out</h2>
	</section>
	<section class="card item9"></section>
	<section class="card item10"></section>
	<section class="card item11">
		<h2>add a :focus state too!</h2>
	</section>
</main> -->
