<h2>Pie Chart</h2>
<!-- <body> -->
<!-- <button class="change">Change</button> -->
<input type="radio" id="user1" name="users" checked>
<label for="user1"> CHBAB Khalid</label><br>
<input type="radio" id="user2" name="users">
<label for="user2"> DRIOUCHE Adnane</label><br>
<input type="radio" id="user3" name="users" >
<label for="user3"> OUHMAID Khalid</label><br><br>
<!-- <button class= "check">Check</button> -->

<select name="time" id="time">
    <option value="">Choose </option>
    <option value="week" >last week</option>
    <option value="month">last month</option>
    <option value="trimestre">last 3 months</option>
</select>

<figure id="pie"></figure>

<!-- </body> -->